
<div class="">

   <div ng-if="home.notification.content" class="notification-top animated slideInDown">
      <div class="row">
         <div class="col-xs-12 h4">{{home.notification.header}}</div>
         <div class="col-xs-12 h6">{{home.notification.content}}</div>
      </div>
   </div>

         <div class="row " ng-class="{'pop-fix-top':(scrolled==='true')}">
            <div class="col-xs-6"></div>




         </div>

   <div class="row mt animated slideInDown">
      <div class="col-xs-10 col-xs-offset-2">
         <div class="row">

            <div class="col-xs-3" ng-if="kom.editSr!==true" ng-class="(kom.submitFlag!=='Y')?'col-xs-offset-6':'col-xs-offset-9'">
               <div class="col-xs-12 card text-center" ng-click="goToHome()" >
                  <span class=""  ><i class=" icon-home mr"></i> Home</span>
               </div> 
            </div>
            <div class="col-xs-3" ng-if="kom.editSr!==true && kom.submitFlag!=='Y'">
               <div class="col-xs-12 card text-center"  ng-click="editAction()">
                  <span class=""  ><i class=" icon-pencil mr"></i> Edit </span>
               </div>
            </div>
            <div class="col-xs-3 col-xs-offset-3" ng-if="kom.editSr===true" >
               <div class="col-xs-12 card text-center" ng-click="submitAction()">
                  <span class=""  ><i class=" icon-check mr"></i> Submit </span>
               </div>
            </div>            
            <div class="col-xs-3" ng-if="kom.editSr===true">
               <div class="col-xs-12 card text-center" ng-click="saveAction()">
                  <span class=""><i class=" fa fa-save mr"></i> Save</span>
               </div>
            </div>
            <div class="col-xs-3" ng-if="kom.editSr===true">
               <div class="col-xs-12 card text-center"  ng-click="cancelAction()">
                  <span class=""  ><i class=" icon-close mr"></i> Cancel </span>
               </div>
            </div>            

         </div>

         <!--<div class="row">
            

            <div class="col-xs-offset-4 col-xs-4  text-right " >
               <div class="col-xs-12 card text-center" ng-click="goToHome()">
                  <span class=""  ><i class=" icon-home mr"></i> Home</span>
               </div>
               <div class="col-xs-12 card text-center" ng-click="goToHome()">
                  <span class=""><i class=" fa fa-save mr"></i> Save</span>
               </div>
            </div>
            <div class="col-xs-4 m0 text-right" >
               <div class="col-xs-12 card text-center" ng-if="kom.editSr!==true" ng-click="editAction()">
                  <span class=""  ><i class=" icon-pencil mr"></i> Edit </span>
               </div>
               <div class="col-xs-12 card text-center" ng-if="kom.editSr===true" ng-click="submitAction()">
                  <span class=""  ><i class=" icon-check mr"></i> Submit </span>
               </div>
            </div>            

         </div> -->
      </div>
            
   </div>
   <div class="row mt animated slideInDown">
      <div class="col-xs-12 pt">
         <div><span class="h3">{{kom.srDescription}}</span> </div>
         <div>
            <span class="h5">#</span><span class="h4 pv"> {{kom.srId }} </span> 
            <span class="h5" ng-if=" kom.submitFlag==='Y'  "><em class="ml icon-check"></em> Submitted</span>
         </div>
         
      </div>
   </div>
   <div class="row animated slideInUp">
      
      <div class="col-xs-12 mt">
         <div id="customerSection" class="pv" >
            <div class="row">

               <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                  <div class="row">
                     <div class="col-xs-12 pb">
                        <span class="text-sm">Customer Name</span><br>
                        <span class="h4">{{kom.customer}}</span> 
                     </div>
                     <div class="col-xs-12 pb">
                        <span class="text-sm">Address</span><br>
                        <span class="h4">{{kom.customerAddress}}</span> 
                     </div>
                     <div class="col-xs-12 pb">
                        <span class="text-sm">Contact</span><br>
                        <span class="h4">{{kom.customerContact}}</span> 
                     </div>
                  </div>
               </div>
               <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                  <div class="row">
                     <div class="col-sm-4 col-xs-12 pb">
                        <span class="text-sm">Customer PO#</span><br>
                        <span class="h4">{{kom.customerPo}}</span>
                     </div>

                     <div class="col-sm-4 col-xs-12 pb">
                        <span class="text-sm">Model</span><br>
                        <span class="h4">{{kom.model}}</span>
                     </div>
                     <div class="col-sm-4 col-xs-12 pb">
                        <span class="text-sm">Serial Number</span><br>
                        <span class="h4">{{kom.serialNumber}}</span>
                     </div>
                  </div>
               </div>

               <!--<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                  <div class="row">
                     <div class="col-xs-12 pb">
                        <span class="text-sm">Customer Name</span><br>
                        <span class="h4">{{kom.customer}}</span> 
                     </div>
                     <div class="col-xs-12 pb">
                        <span class="text-sm">Address</span><br>
                        <span class="h4">{{kom.customerAddress}}</span> 
                     </div>

                     <div class="col-sm-4 col-xs-12 pb">
                        <span class="text-sm">Customer PO#</span><br>
                        <span class="h4">{{kom.customerPo}}</span>
                     </div>

                     <div class="col-sm-4 col-xs-12 pb">
                        <span class="text-sm">Model</span><br>
                        <span class="h4">{{kom.model}}</span>
                     </div>
                     <div class="col-sm-4 col-xs-12 pb">
                        <span class="text-sm">Serial Number</span><br>
                        <span class="h4">{{kom.serialNumber}}</span>
                     </div>

                  </div>
               </div>-->
               <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12" >
                  <div class="row">
                     <div class="col-sm-4 col-xs-12 pb">
                        <span class="text-sm">Service Type</span><br>
                        <span class="h4">{{kom.serviceType}}</span>
                     </div>

                     <div class="col-sm-4 col-xs-12 pb">
                        <span class="text-sm">Service Man</span><br>
                        <span class="h4">{{kom.serviceMan}}</span>
                     </div>
                     <!--<div class="col-sm-2 col-xs-4 pb">
                        <span class="text-sm">I/D</span><br>
                        <span class="h4">{{kom.id1}}</span>
                     </div>-->
                     <div class="col-sm-4 col-xs-8 pb">
                        <span class="text-sm">Date</span><br>
                        <span class="h4">{{kom.srDate | date}}</span>
                     </div>
                  </div>
                  
                  
               </div>
            </div>
         </div>
         <div class="row section-break" >
                     <div class="col-sm-6 col-xs-12 pb" ng-if="kom.editSr!==true">
                        <span class="text-sm">Total Impressions</span><br>
                        <span class="h4">{{kom.totalImpressions}}</span>
                     </div>
                     <div class="col-sm-6 col-xs-12 pb" ng-if="kom.editSr===true">
                        <span class="text-sm ">Total Impressions</span><br>
                           <div class="form-group">
                              <input type="text" placeholder="" ng-model="kom.totalImpressions" class="form-control">
                           </div>
                     </div>

                     <div class="col-sm-6 col-xs-12 pb">
                        <div class="form-group">
                           <span class="text-sm">Maintainance Level</span><br>
                           <!--<span class="h4">American Greetings Group</span>-->
                           <div class="row">
                              <div class="col-xs-12">
                                 <span><em class="fa mr" ng-click="kom.maintainance=1" ng-class="{'h5 mt-xs fa-star-o text-blue-light':kom.maintainance<=0,'fa-2x h4 fa-star mt-xs':kom.maintainance>0}"></em></span>
                                 <span><i class="fa mr" ng-click="kom.maintainance=2" ng-class="{'h5 fa-star-o mt-xs text-blue-light':kom.maintainance<=1,'fa-2x h4 fa-star mt-xs':kom.maintainance>1}"></i></span> 
                                 <span><i class="fa mr" ng-click="kom.maintainance=3" ng-class="{'h5 mt-xs fa-star-o text-blue-light':kom.maintainance<=2,'fa-2x h4 fa-star mt-xs':kom.maintainance>2}"></i></span>
                                 <span><i class="fa mr" ng-click="kom.maintainance=4" ng-class="{'h5 mt-xs fa-star-o text-blue-light':kom.maintainance<=3,'fa-2x h4 fa-star mt-xs':kom.maintainance>3}"></i></span>
                                 <span><i class="fa mr" ng-click="kom.maintainance=5" ng-class="{'h5 fa-star-o mt-xs text-blue-light':kom.maintainance<=4,'fa-2x h4 fa-star mt-xs':kom.maintainance>4}"></i></span>
                              </div>
                           </div>
                        </div>
                     </div>            
         </div>
         <div id="serviceSection" class="">
            <div class="row mt">
               <div class="col-xs-12 "> <span class="h4 m0 text-blue-light">Service Info</span> </div>
               <div class="col-xs-12 pv ">
                  <span class="pop-edit-button h4 m0" ng-show="kom.editSr===true" ng-click="(ko.editSi)?(ko.editSi=!ko.editSi):(ko.editSi=true)"><em ng-class="(ko.editSi===true?'icon-check':'icon-pencil')"></em></span>
                  <span class="pop-add-button h4 m0" ng-click="kom.serviceList.push({remoteAction:'I'})" ng-if="kom.editSr===true && ko.editSi===true"><em class="icon-plus"></em></span>
                  <div class="table-responsive card-inset ">
                     <table class="table" style="table-layout: fixed; width: 100%">
                        <thead>
                           <tr>
                              <th colspan="2">Service Requested</th>
                              <th colspan="2">Code</th>
                              <th colspan="4">Work Performed and Comments</th>
                           </tr>
                        </thead>
                        <tbody>
                           <tr class="animated fadeIn" ng-repeat="s in kom.serviceList track by $index" ng-if="ko.editSi">
                              <td colspan="2" class="" valign="top">
                                 <div class="form-group">
                                    <input type="text" placeholder="" ng-model="s.serviceInfo" class="form-control">
                                 </div>
                              </td>
                              <td colspan="2" class="" valign="top">
                                 <div class="form-group">
                                    <input type="text" placeholder="" ng-model="s.serviceCode" class="form-control">
                                 </div>
                              </td>
                              <td colspan="4" class="" valign="top">
                                 <div class="form-group">
                                    <input type="text" placeholder="" ng-model="s.serviceComments" class="form-control">
                                 </div>
                              </td>
                           </tr>
                           <tr class="animated fadeIn" ng-repeat="s in kom.serviceList track by $index" ng-if="!ko.editSi">
                              <td colspan="2" class="text-break" valign="top">{{s.serviceInfo}}</td>
                              <td colspan="2" class="text-break" valign="top">{{s.serviceCode}}</td>
                              <td colspan="4" class="text-break" valign="top">{{s.serviceComments}}</td>
                           </tr>
                        </tbody>
                     </table>
                  </div>
               </div>
            </div>
         </div>

         <div id="warningSection" class="">
            <div class="section-break ">
               <div class="row" ng-if="kom.editSr!==true">
                  <div class="col-xs-8 pv">
                     <span class="text-sm">Maintainance Issue Observed</span><br>
                     <span class="h4">{{kom.maintainanceIssue}}</span>
                  </div>
                  <div class="col-xs-4 pv">
                     <span class="text-sm mr">Customer Notified</span><br>
                     <span class="h4">{{kom.miNotified?'Yes':'No'}}</span>
                  </div>
               </div>
               <div class="row " ng-if="kom.editSr!==true">
                  <div class="col-xs-8 pv">
                     <span class="text-sm">Safety Issue Observed</span><br>
                     <span class="h4">{{kom.safetyIssue}}</span>            
                  </div>
                  <div class="col-xs-4 pv">
                     <span class="text-sm mr">Customer Notified</span><br>
                     <span class="h4">{{kom.siNotified?'Yes':'No'}}</span>
                  </div>
               </div>
               <div class="row" ng-if="kom.editSr===true">
                  <div class="col-xs-8 pv">
                     <span class="text-sm">Maintainance Issue Observed</span><br>
                     <div class="form-group">
                        <input type="text" placeholder="" ng-model="kom.maintainanceIssue" class="form-control">
                     </div>
                  </div>
                  <div class="col-xs-4 pv">
                     <span class="text-sm mr">Customer Notified</span>
                     <div class="checkbox c-checkbox h4">
                        <label>
                        <input type="checkbox" checked="" ng-model="kom.miNotified">
                        <span class="fa fa-check mr"></span>Yes</label>
                     </div>
                  </div>
               </div>
               <div class="row " ng-if="kom.editSr===true">
                  <div class="col-xs-8 pv">
                     <span class="text-sm">Safety Issue Observed</span><br>
                     <div class="form-group">
                        <input type="text" placeholder="" ng-model="kom.safetyIssue" class="form-control">
                     </div>
                  </div>
                  <div class="col-xs-4 pv">
                     <span class="text-sm mr">Customer Notified</span>
                     <div class="checkbox c-checkbox h4">
                        <label>
                        <input type="checkbox" checked="" ng-model="kom.siNotified">
                        <span class="fa fa-check mr"></span>Yes</label>
                     </div>
                  </div>
               </div>
            </div>
         </div>

         <div id="timeSection" class="mt">
            <div class="row section-break">
               <div class="col-xs-12 "> <span class="h4 m0 text-blue-light">Work Hours</span> </div>
               <div class="col-xs-12 pv">
                  <span class="pop-edit-button h4 m0" ng-show="kom.editSr===true"  ng-click="(ko.editTi)?(ko.editTi=!ko.editTi):(ko.editTi=true)"><em ng-class="(ko.editTi===true?'icon-check':'icon-pencil')"></em></span>
                  <span class="pop-add-button h4 m0"  ng-click="kom.savedTravelList.push({remoteAction:'I'})" ng-if="kom.editSr===true && ko.editTi===true"><em class="icon-plus"></em></span>
                  <div class="table-responsive card-inset">
                     <table class="table" style="table-layout: fixed; width: 100%">
                        <thead >
                           <tr>
                              <th ng-show="">Day</th>
                              <th colspan="2">
                                 Date
                              </th>
                              <th>
                                 Travel
                              </th>
                              <th >
                                 ST
                              </th>
                              <th>
                                 x1.5
                              </th>
                              <th>
                                 x2
                              </th>
                           </tr>
                        </thead>
                        <tbody>
                           <tr class="animated fadeIn" ng-repeat="s in kom.savedTravelList" ng-if="ko.editTi">
                              <td ng-show="">{{s.day}}</td>
                              <td colspan="2">
                                 <input type="date" placeholder="" ng-model="s.logDate" class="form-control">
                              </td>
                              <td >
                                 <input type="text" placeholder="" ng-model="s.travel" class="form-control">
                              </td>
                              <td >
                                 <input type="text" placeholder="" ng-model="s.st" class="form-control">
                              </td>
                              <td >
                                 <input type="text" placeholder="" ng-model="s.x150Pc" class="form-control">
                              </td>
                              <td >
                                 <input type="text" placeholder="" ng-model="s.x200Pc" class="form-control">
                              </td>
                           </tr>
                           <tr class="animated fadeIn" ng-repeat="s in kom.savedTravelList" ng-if="!ko.editTi">
                              <td ng-show="">{{s.day}}</td>
                              <td colspan="2">{{s.logDate | date}}</td>
                              <td >{{s.travel}}</td>
                              <td >{{s.st}}</td>
                              <td >{{s.x150Pc}}</td>
                              <td >{{s.x200Pc}}</td>
                           </tr>
                        </tbody>
                     </table>
                  </div>
               </div>
            </div>
         </div>

         <div id="signatureSection" class="mt">
            <div class="section-break ">
               <div class="row " ng-if="kom.editSr!==true">
                  <div class="col-xs-4 pb"> 
                     <span class="text-sm mr">Job Completed</span><br>
                     <span class="h4">{{kom.jc?'Yes':'No'}}</span>
                  </div>
                  <div class="col-xs-8 pb">
                     <span class="text-sm mr">Incomplete/Followup</span><br>
                     <span class="h4">{{kom.finalComments}}</span>
                  </div>
               </div>
               <div class="row" ng-if="kom.editSr===true">
                  <div class="col-xs-4 pb">
                     <span class="text-sm mr">Job Completed</span>
                     <div class="checkbox c-checkbox h4">
                        <label>
                        <input type="checkbox" checked="" ng-model="kom.jc">
                        <span class="fa fa-check mr"></span>Yes</label>
                     </div>
                  </div>
                  <div class="col-xs-8 pb">
                     <span class="text-sm mr">Incomplete/Followup</span>
                     <div class="form-group mt-sm">
                        <input type="text" placeholder="" ng-model="kom.finalComments" class="form-control">
                     </div>
                  </div>
               </div>
            </div>
            <div class="row section-break" >
               <div class="col-xs-12" ng-if="kom.editSr!==true">
                  <span class="text-sm mr">Additional Contacts</span><br>
                  <span class="h4">{{kom.additionalContacts||'-'}}</span>
               </div>
               <div class="col-xs-12" ng-if="kom.editSr===true">
                  <span class="text-sm mr">Additional Contacts</span>
                     <div class="form-group mt-sm">
                        <input type="text" placeholder="" ng-model="kom.additionalContacts" class="form-control">
                     </div>
               </div>
            </div>
            <div class="row section-break">
               <div class="col-xs-12">
                  <span>Customer Signature</span>
                  <div class="mt">
                     <canvas class="well"  id="customerSignature">
                     </canvas>
                     <span class="pop-action-button h4 m0" ng-show="kom.editSr===true" ng-click="clearSignature('customer')"><em class="icon-refresh"></em></span>
                  </div>
               </div>
               <!--<div class="col-xs-12">
                  <span>Service Managers Signature</span>
                  <div class="mt">
                    <canvas class="well" id="serviceManagerSignature">
                    </canvas>
                    <span class="pop-action-button h4 m0" ng-click="clearSignature('service')"><em class="icon-refresh"></em></span>
                  </div>
                  
                  </div>-->
            </div>
            <div class="row section-break">
               <div class="col-xs-12">
                  <span class="text-sm mr">Additional Notes</span>
                  <div class="mt">
                     <div class="form-group mt-sm">
                        <span ng-if="kom.editSr!==true">{{kom.notes || 'No Notes'}}</span>
                        <textarea  ng-if="kom.editSr===true" type="text" class="form-control" rows="3" ng-model="kom.notes"></textarea>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="clearfix"></div>
      </div>
   </div>

   <div class="row mt" id="footer" ng-show="">
      <div class="col-xs-12 pv text-center">
         <span class="text-sm">
            <div class="row">
               <div class="col-xs-12">5520 MEADOWBROOK INDUSTRIAL COURT,
                  ROLLING MEADOWS, IL 6008
               </div>
               <div class="col-xs-12">PHONE: (847) 806-9000, FAX: (847) 806-9038</div>
            </div>
         </span>
      </div>
   </div>
   
</div>